<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
       

        <p class="header">Login Account to see more</p>
        <p style="color: red; font-size: 1.3vw; line-height: 1vw;" class="header"><%= err %></p>
<form action="/login" method="post">

  <input type="text" name="username" placeholder="username" class="detail" /><br />
  <input type="password" name="password" placeholder="Password" class="detail" />
  <input type="submit" class="btn int" value="Login"></input type="submit">
  
</form>

        <a href="/forgot" style="text-decoration: none;">Forgot your password?</a>

        <a href="/" style=" margin-top :25px ; text-decoration: none;">Not in pintrest then sign up 😎</a>


        
      </div>
    </div>
  </body>
</html>
